* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div {
    display: block;
}

:root {
    --primary-bg-color: #fefbe9; 
    --secondary-bg-color: #e1eedd; 
    --primary-bg-color-darker: rgba(254, 251, 223, 0.5);
    --titles-primary-text-color: #f0a04b; 
    --primary-text-color: #183a1d;
    --light-bg-color: #f6c453;
}

p, span {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
}

ul {
    list-style: none;
    padding: 0px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:active {
    outline: 0;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: var(--titles-primary-text-color); 
    font-size: 32px;
}

p, span {
    font-size: 14px;
}

#wrapper {
    display: flex;
    min-height: 100vh;
}

/* Left menu */
#left-menu {
    width: 260px;
    background-color: var(--secondary-bg-color);
}

#logo {
    height: 60px;
    width: 100%;
    background-color: var(--light-bg-color);
}

#left-menu li, #left-menu .section-title {
    height: 32px;
    padding-left: 16px;
    line-height: 32px;
}

#left-menu li {
    cursor: pointer;
}

#left-menu .section-title {
    font-weight: bold;
    border-bottom: 1px solid var(--primary-text-color);
}

#left-menu .section-title:not(:first-child) {
    margin-top: 24px;
}

#left-menu li:hover {
    background-color: var(--primary-bg-color-darker);
}

#left-menu li.active {
    background-color: var(--primary-bg-color);
}

/* Main content */
#main-content {
    background-color: var(--primary-bg-color); 
    width: calc(100vw - 260px);
}

.btn-primary-custom {
    color: var(--primary-text-color);
    background-color: var(--titles-primary-text-color);
    border-color: var(--titles-primary-text-color);
}

.btn-primary-custom:hover {
    background-color: var(--light-bg-color);
    border-color: var(--light-bg-color);
}


